<!-- comment.hbs -->
<div>
    {{#if commenter_picture}}
    <img src="{{{commenter_picture}}}" alt="{{{commenter_initials}}}">
    {{else}}
    <div>
        {{{commenter_initials}}}
    </div>
    {{/if}}
    <div>
        <div>
            <div>{{{commenter_name}}}</div>
            <div>{{{commented_at}}}</div>
        </div>
        <div>{{{comment}}}</div>
    </div>
</div>