<!-- commentForm.hbs -->
{{#if profile_picture}}
<img src="{{{profile_picture}}}" alt="{{{user_initials}}}">
{{else}}
<span style="background-image: url('https://via.placeholder.com/40');">
    <span>{{{user_initials}}}</span>
</span>
{{/if}}
<div>
    <textarea id="newCommentTextarea-{{{post_id}}}-{{{comment_counter}}}" placeholder="Write a comment..."></textarea>
</div>
<script>
    (function() {
    const textareas = document.querySelectorAll('textarea[id^="newCommentTextarea"]');
        textareas.forEach(textarea => {
            textarea.addEventListener('keydown', (event) => {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    const newCommentContent = event.target.value;
                    if (newCommentContent.trim() !== '') {
                        fetch('/comment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'text/plain',
                            },
                            body: JSON.stringify({
                                content: newCommentContent,
                                userId: {{{user_id}}},
                                postId: {{{post_id}}}
                            }),
                        }).then((response) => {
                            if (response.ok) {
                                event.target.value = '';
                                window.location.reload();
                                return response.json();
                            }
                            throw new Error('Failed to send POST request');
                        }).catch((error) => {
                            console.error('Failed to send POST request:', error);
                        });
                    }
                }
            });
        });
    })();
</script>