<!-- postHeader.hbs -->
<div>
    {{#if profile_picture}}
    <img src="{{{profile_picture}}}" alt="{{{user_initials}}}">
    {{else}}
    <span style="background-image: url('https://via.placeholder.com/64');">
        <span>{{{user_initials}}}</span>
    </span>
    {{/if}}
    <div>
        <div>{{{user_fullname}}}</div>
        <div>
            <a href="/users/{{{username}}}">@{{{username}}}</a>
        </div>
    </div>
</div>
<p>{{{post_description}}}</p>
{{#if post_images}}
<div>
    {{#each post_images as |image|}}
    <div>
        <img src="{{{image}}}" alt="Image from post {{{post_title}}}" data-image="{{{image}}}"
            onclick="openImage(this)" role="button" tabindex="0">
    </div>
    {{/each}}
</div>
<div id="imageModal" style="z-index: 9999;" onclick="closeImage(event)">
    <div>
        <img id="modalImage" alt="" onclick="toggleZoom()">
    </div>
</div>
<script>
    function openImage(imgElement) {
        const image = imgElement.dataset.image;
        const modalImage = document.getElementById('modalImage');
        modalImage.src = image;
        document.getElementById('imageModal').style.display = 'flex';
    }

    function closeImage(event) {
        const imageModal = document.getElementById('imageModal');
        if (event.target === imageModal) {
            imageModal.style.display = 'none';
        }
    }

    function toggleZoom() {
        const modalImage = document.getElementById('modalImage');
        if (modalImage.style.maxWidth !== '100%') {
            modalImage.style.maxWidth = '100%';
            modalImage.style.maxHeight = '100%';
        } else {
            modalImage.style.maxWidth = '80vw';
            modalImage.style.maxHeight = '80vh';
        }

        console.log(modalImage.style.maxWidth, modalImage.style.maxHeight)
    }
</script>
<style>
    .grid-cols-auto {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .grid-cols-auto img {
        height: 200px;
        object-fit: cover;
    }
</style>
{{/if}}