<!-- layout.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    {{{_meta_}}}
    {{{_link_}}}
    <title>{{{_title_}}}</title>
    <style>{{{_style_}}}</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div>
        {{{_body_}}}
    </div>
    {{> footer}}
    {{{_script_}}}
</body>
</html>