<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    {{{_meta_}}}
    {{{_link_}}}
    <title>{{{_title_}}}</title>
    {{{_style_}}}
</head>

<body class="bg-gray-900 text-white flex flex-col min-h-screen">
    <div class="flex-grow">
        {{{_body_}}}
    </div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{{_script_}}}
</body>
</html>