<!-- formField.hbs -->
<div class="form-field">
    <label for="{{id}}" class="form-label">
        {{label}}:
    </label>
    <input id="{{id}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" required="{{required}}" autofocus="{{autofocus}}" autocomplete="{{autocomplete}}" class="form-input"/>
</div>