<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    {{{_meta_}}}
    {{{_link_}}}
    <title>{{{_title_}}}</title>
    <style>{{{_style_}}}</style>
</head>

<body class="bg-gray-900 text-white flex flex-col min-h-screen">
    <div class="flex-grow">
        {{{_body_}}}
    </div>
    <footer class="text-gray-800 text-sm ">
        {{{_footer_}}}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        {{{_script_}}}
    </script>
</body>
</html>